<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <!-- Top Bar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">DashBoard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
  </nav>

  
  <div class="container-fluid">
    <div class="row">

      <!-- Main Content -->
      <main class="col-sm-12 col-lg-10">
        <!-- Your dashboard goes here 
          <div id="dashboard">
            <canvas id="successPieChart"></canvas>
            <canvas id="timeSpentBarChart"></canvas>
            <canvas id="listaFuncionarios"></canvas>
          </div>
        -->
        <div class="container" id="dashboard">
          <div class="row">
            
            <!-- For small devices: 1 column, For medium to large devices: 3 columns -->
            <div class="col-sm-12 col-md-6">
              Chart1
              <canvas id="successPieChart" width="200" height="200"></canvas>
            </div>
            
            <div class="col-sm-12 col-md-6">
              <canvas id="successRateBarPlot" width="400" height="200"></canvas>
            </div>
            
            <div class="col-sm-12 col-md-6">
              Chart2
              <canvas id="timeSpentBarChart"></canvas>
            </div>

            <div class="col-sm-12 col-md-6">
              Chart3
              <canvas id="playerActivityChart"></canvas>
            </div>
            
            <div class="col-sm-12 col-md-6">
              <div class="card text-center bg-info text-white">
                <div class="card-header">
                  Player Statistics
                </div>
                <div class="card-body">
                  <h4 class="card-title">Average Time per Player</h4>
                  <p class="card-text display-4" id="averageTime">Calculating...</p>
                </div>
                <div class="card-footer text-muted">
                  Updated just now
                </div>
              </div>
            </div>



            <div class="col-sm-12 col-md-6">
                  <div class="card">
                    <div class="card-header">
                      Most Observed Objects
                    </div>
                    <ul class="list-group list-group-flush" id="mostObservedObjectsList">
                      <!-- Items will be populated here -->
                    </ul>
                  </div>
            </div>








          </div>
        </div>
          
      </main>

    </div>
  </div>

  
  
  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <script src="./js/dashboard.js"></script>
</body>
</html>